.vagrant/
composer.lock
vendor/
config/development.config.php
data/cache/*
!data/cache/.gitkeep
data/DoctrineModule/cache/*
!data/DoctrineModule/cache/.gitkeep
public/vendors
public/storage/*
public/dashboard/css/custom.css
public/dashboard/js/custom.js
