$gray:#555963;
$gray-light:#e3e3e3;
$white:#ffffff;
$orange:#f76a3a;

$screen-sm:768px;
.list-auto {
  .row {
    padding-top: 76px;
    padding-bottom: 89px;
  }
  .title {
    font-size: 24px;
    font-weight: 600;
    line-height: 2.08;
    letter-spacing: -0.3px;
    text-align: left;
    color: #2d2a2a;
  }
  ul.nav-tabs {
    border-bottom: none;
    padding-top: 19px;
    li {
      border-bottom: 1px $gray-light solid;
      padding-right: 45px;
      &:last-child {
        padding-right: 0;
      }
      &.active, &:hover, &:focus, &:active {
        a {
          position: relative;
          top: 1px;
          background: transparent;
          color: $gray;
          border-left: 0;
          border-top: 0;
          border-right: 0;
          border-bottom: 2px $orange solid;
        }
      }
      a {
        margin: 0;
        padding: 0;
        border-left: 0;
        border-right: 0;
        line-height: 29px;
        font-size: 12px;
        text-transform: uppercase;
        color: $gray-light;
      }
    }
  }
  .tab-content {
    padding-top: 30px;
    ul.auto-list-list {
      list-style: none;
      padding-left: 0;
      li {
        font-size: 18px;
        line-height: 45px;
        a {
          color: $gray;
        }
        span {
          color: #cdcdcd;
          padding-left: 5px;
        }
      }
    }
  }
}