body.modal-open{
  padding-right: 0px!important;
  overflow: visible!important;
}

.rudolf-modal{
  overflow-y: visible;
  .modal-dialog {
    width: 770px;
    .modal-content{
      background: white;
      border-radius: 0;
      border: none;
      padding: 40px 53px;
      .modal-header {
        font-size: 36px;
        font-weight: 600;
        line-height: 1.39;
        color: #2d2a2a;
        text-align: center;
        border: none;
        margin-bottom: 18px;
        padding: 0;
      }
      .modal-body {
        .bid-form-title {
          height: 50px;
          font-size: 18px;
          font-weight: 600;
          line-height: 2.78;
          text-align: left;
          color: #2d2a2a;
          margin-bottom: 3px;
        }
        .bid-form-row {
          margin-bottom: 22px;
        }
        button {
          float: right;
          margin-right: 15px;
        }
      }
    }
  }
}