.auto-card-title {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.39;
  text-align: left;
  color: #2d2a2a;
  margin: 8px 0 6px;
}
.auto-card-price {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.04;
  text-align: left;
  color: #f76a3a;
}
.jcarousel-wrapper {
  margin-top: 38px;
  position: relative;
  .jcarousel-control-prev {
    right: 0;
    top: 131px;
    position: absolute;
    background: url("/img/icons/ic-left-big-default.png") no-repeat;
    width: 42px;
    height: 42px;
    display: block;
  }
  .jcarousel-control-next {
    right: 0;
    top: 179px;
    position: absolute;
    background: url("/img/icons/ic-right-big-default.png") no-repeat;
    width: 42px;
    height: 42px;
    display: block;
  }
}
