$gray:#555963;
$gray-light:#e3e3e3;
$white:#ffffff;
$orange:#f76a3a;

$screen-sm:768px;
#top-carousel {
  height: 650px;
  width: 100%;
  background-color: $gray;
  .carousel-inner {
    position: absolute;
    height: 650px;
    div {
      height: 650px;
    }
    div:first-child {
      background: url("/img/carousel/photo-homepage.png") no-repeat;
      background-size: cover;
    }
    div:nth-child(2) {
      background: url("/img/carousel/photo-homepage.png") no-repeat;
      background-size: cover;
    }
    div:nth-child(3) {
      background: url("/img/carousel/photo-homepage.png") no-repeat;
      background-size: cover;

    }
  }
  .container {
    .row {
      position: relative;
      height: 650px;
      .carousel-indicators {
      width: 9px;
      right: 60px;
      left: auto;
      top: 267px;
      li {
        width: 9px;
        height: 9px;
        -moz-border-radius: 4.5px;
        -webkit-border-radius: 4.5px;
        border-radius: 4.5px;
        border: none;
        background-color: $gray-light;
        &.active {
          padding: 0;
          margin: 1px;
          background-color: $orange;
        }
      }
    }
      .title {
       font-size: 52px;
       line-height: 55px;
       float: left;
       margin: 239px 0 0 /*150px*/0;
       color: $white;
     }
      .undertitle {
        font-size: 16px;
        line-height: 20px;
        float: left;
        margin: 36px 0 0 /*157px*/ 0;
        padding: 0 0 0 20px;
        color: $white;
        border-left: 2px solid $orange;
      }
    }
  }
}