$gray:#555963;
$gray-light:#e3e3e3;
$white:#ffffff;
$orange:#f76a3a;

$screen-sm:768px;

.breadcrumbs {
  margin-top: 36px;
  margin-bottom: 3px;
  .back {
    span {
      background: url("/img/bg-collections/ic-down-bold-default.png") no-repeat;
      transform: rotate(90deg);
      width: 12px;
      height: 8px;
      display: inline-block;
      padding-right: 7px;
    }
    opacity: 0.5;
    font-size: 12px;
    font-weight: 900;
    line-height: 1.42;
    letter-spacing: 1px;
    text-align: left;
    color: #2d2a2a;
    text-transform: uppercase;
  }
}

.catalog {
  .catalog-filter-group {
    margin-bottom: 22px;
  }
  .catalog-filter-group-checkboxes {
    margin-bottom: 32px;
  }
  label {
    min-width: 1px;
    line-height: 25px;
    height: 25px;
    font-size: 14px;
    text-align: left;
    color: #797979;
    font-weight: normal;
    margin-bottom: 3px;
  }
  .no-label{
    margin-top: 28px;
  }
  input[type=checkbox] {
    background: url("/img/bg-images/ic-checkbox-default.png") no-repeat;
    width: 16px;
    height: 16px;
  }
  input[type=checkbox]:checked {
    background: url("/img/bg-images/ic-checkbox-hover.png") no-repeat;
  }
}
