$gray:#555963;
$gray-light:#e3e3e3;
$white:#ffffff;
$orange:#f76a3a;

$screen-sm:768px;

.breadcrumbs {
  margin-top: 36px;
  margin-bottom: 3px;
  .back {
    span {
      background: url("/img/bg-collections/ic-down-bold-default.png") no-repeat;
      transform: rotate(90deg);
      width: 12px;
      height: 8px;
      display: inline-block;
      padding-right: 7px;
    }
    opacity: 0.5;
    font-size: 12px;
    font-weight: 900;
    line-height: 1.42;
    letter-spacing: 1px;
    text-align: left;
    color: #2d2a2a;
    text-transform: uppercase;
  }
}

.catalog {
  .catalog-filter-group {
    margin-bottom: 22px;
  }
  .catalog-filter-group-checkboxes {
    margin-top: 32px;
    margin-bottom: 53px;
    label {
      line-height: 1.79;
    }
  }
  label {
    min-width: 1px;
    line-height: 25px;
    height: 25px;
    font-size: 14px;
    text-align: left;
    color: #797979;
    font-weight: normal;
    margin-bottom: 3px;
  }
  .no-label{
    margin-top: 28px;
  }
  .catalog-hide-filters {
    display: inline-block;
    padding: 0 0 0 35px;
    background: url("/img/icons/ic-filter-defoult.png") no-repeat;
    font-size: 14px;
    line-height: 1.79;
    text-align: left;
    color: #2d2a2a;
    &:hover, &:active, &:focus, &.hidden {
      background: url("/img/icons/ic-filter-hover.png") no-repeat;
      text-decoration: none;
    }
  }
  .catalog-drop-filters {
    position: relative;
    top:-3px;
    display: inline-block;
    padding: 2px 0 0 35px;
    background: url("/img/icons/ic-error-default.png") no-repeat;
    font-size: 14px;
    line-height: 1.79;
    text-align: left;
    color: #797979;
    white-space: nowrap;
    &:hover, &:active, &:focus, &.hidden {
      color: #2d2a2a;
      text-decoration: none;
    }
  }
}

.offers-grid-block {
  .catalog-offers-grid-block-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 42px;
    text-align: left;
    color: #2d2a2a;
    margin-bottom: 40px;
    p {
      position: relative;
      top:-7px;
      font-size: 18px;
      font-weight: 600;
      text-align: left;
      color: #7a7a7a;
      margin-bottom: 0;

    }
  }
}

.rudolf-pagination {
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;
  li {
    float: left;
    margin-right: 10px;
    &.active a {
      color: #f76a3a;
    }
    a {
      font-size: 16px;
      font-weight: 900;
      line-height: 1.25;
      letter-spacing: 0.5px;
      text-align: left;
      color: #797979;
      &:hover, &:active, &:focus {
        text-decoration: underline;
      }
    }
    &.prev {
      background: url("/img/icons/ic-left-big-default.png") no-repeat;
      background-size: 32px;
      width: 32px;
      height: 32px;
      display: inline-block;
      line-height: 32px;
      position: relative;
      top: -7px;
    }
    &.next {
      background: url("/img/icons/ic-right-big-default.png") no-repeat;
      background-size: 32px;
      width: 32px;
      height: 32px;
      display: inline-block;
      line-height: 32px;
      position: relative;
      top: -7px;
    }
  }
}
