.list-auto {
  padding-top: 76px;
  padding-bottom: 89px; }
  .list-auto .title {
    font-size: 24px;
    font-weight: 600;
    line-height: 2.08;
    letter-spacing: -0.3px;
    text-align: left;
    color: #2d2a2a; }
  .list-auto ul.nav-tabs {
    border-bottom: none;
    padding-top: 19px; }
    .list-auto ul.nav-tabs li {
      border-bottom: 1px #e3e3e3 solid;
      padding-right: 45px; }
      .list-auto ul.nav-tabs li:last-child {
        padding-right: 0; }
      .list-auto ul.nav-tabs li.active {
        border-bottom: 2px #f76a3a solid; }
        .list-auto ul.nav-tabs li.active a {
          position: relative;
          top: 1px;
          background: transparent;
          color: #555963;
          border-left: 0;
          border-top: 0;
          border-right: 0;
          border-bottom: 1px #f76a3a solid; }
      .list-auto ul.nav-tabs li:hover:not(.active), .list-auto ul.nav-tabs li:focus:not(.active), .list-auto ul.nav-tabs li:active:not(.active) {
        border-bottom: 1px #e3e3e3 solid; }
        .list-auto ul.nav-tabs li:hover:not(.active) a, .list-auto ul.nav-tabs li:focus:not(.active) a, .list-auto ul.nav-tabs li:active:not(.active) a {
          position: relative;
          top: 1px;
          background: transparent;
          color: #555963;
          border-left: 0;
          border-top: 0;
          border-right: 0;
          border-bottom: 2px #f76a3a solid; }
      .list-auto ul.nav-tabs li a {
        margin: 0;
        padding: 0;
        border-left: 0;
        border-right: 0;
        line-height: 29px;
        font-size: 12px;
        text-transform: uppercase;
        color: #e3e3e3; }
  .list-auto .tab-content {
    padding-top: 30px; }
    .list-auto .tab-content ul.auto-list-list {
      list-style: none;
      padding-left: 0; }
      .list-auto .tab-content ul.auto-list-list li {
        font-size: 18px;
        line-height: 45px; }
        .list-auto .tab-content ul.auto-list-list li a {
          color: #555963;
          font-family: ".SNFS-Medium", Fallback, sans-serif; }
        .list-auto .tab-content ul.auto-list-list li span {
          color: #cdcdcd;
          padding-left: 5px; }
  .list-auto .all-auto-button {
    max-width: 291px;
    margin-top: 14px; }
    .list-auto .all-auto-button .custom-caret {
      background: url("/img/auto-list/ic-down-bold-default.png") no-repeat;
      width: 12px;
      height: 8px;
      display: inline-block;
      margin: 0 0 0 5px; }

#top-carousel {
  height: 650px;
  width: 100%;
  background-color: #555963; }
  @media screen and (max-width: 768px) {
    #top-carousel {
      height: 512px; } }
  #top-carousel .carousel-inner {
    position: absolute;
    height: 650px; }
    @media screen and (max-width: 768px) {
      #top-carousel .carousel-inner {
        height: 512px; } }
    #top-carousel .carousel-inner div {
      height: 650px; }
      @media screen and (max-width: 768px) {
        #top-carousel .carousel-inner div {
          height: 512px; } }
    #top-carousel .carousel-inner div:first-child {
      background: url("/img/carousel/photo-homepage.png") no-repeat;
      background-size: cover;
      background-position: center; }
    #top-carousel .carousel-inner div:nth-child(2) {
      background: url("/img/carousel/photo-homepage.png") no-repeat;
      background-size: cover;
      background-position: center; }
    #top-carousel .carousel-inner div:nth-child(3) {
      background: url("/img/carousel/photo-homepage.png") no-repeat;
      background-size: cover;
      background-position: center; }
  #top-carousel .container .row {
    position: relative;
    height: 650px; }
    @media screen and (max-width: 768px) {
      #top-carousel .container .row {
        height: 512px; } }
    #top-carousel .container .row .carousel-indicators {
      width: 9px;
      right: 60px;
      left: auto;
      top: 267px; }
      @media screen and (max-width: 768px) {
        #top-carousel .container .row .carousel-indicators {
          -webkit-transform: rotate(-90deg);
          /* Safari and Chrome */
          -moz-transform: rotate(-90deg);
          /* Firefox */
          -ms-transform: rotate(-90deg);
          /* IE 9 */
          -o-transform: rotate(-90deg);
          /* Opera */
          transform: rotate(-90deg);
          display: block;
          margin: 220px auto 0;
          bottom: 20px;
          left: 0; } }
      #top-carousel .container .row .carousel-indicators li {
        width: 9px;
        height: 9px;
        -moz-border-radius: 4.5px;
        -webkit-border-radius: 4.5px;
        border-radius: 4.5px;
        border: none;
        background-color: #e3e3e3; }
        #top-carousel .container .row .carousel-indicators li.active {
          padding: 0;
          margin: 1px;
          background-color: #f76a3a; }
    #top-carousel .container .row .title {
      font-size: 52px;
      line-height: 55px;
      float: left;
      margin: 239px 0 0 0;
      color: #ffffff; }
      @media screen and (max-width: 768px) {
        #top-carousel .container .row .title {
          font-size: 36px;
          font-weight: 500;
          line-height: 1.17;
          text-align: left;
          color: #ffffff;
          margin: 167px 0 37px 0; } }
    #top-carousel .container .row .undertitle {
      font-size: 16px;
      line-height: 20px;
      float: left;
      margin: 36px 0 0 0;
      padding: 0 0 0 20px;
      color: #ffffff;
      border-left: 2px solid #f76a3a; }
      @media screen and (max-width: 768px) {
        #top-carousel .container .row .undertitle {
          font-size: 16px;
          font-weight: 500;
          line-height: 1.25;
          text-align: left;
          color: #ffffff; } }

.offers {
  background-color: #e3e3e3; }
  .offers .row {
    overflow: hidden;
    white-space: nowrap;
    padding: 61px 0 98px; }
    .offers .row .title {
      width: 278px;
      height: 50px;
      font-size: 24px;
      font-weight: 600;
      line-height: 2.08;
      letter-spacing: -0.3px;
      text-align: left;
      color: #2d2a2a; }
    .offers .row .slider {
      margin-right: -15px; }
      .offers .row .slider .item {
        display: inline-block;
        float: left;
        width: 306.4px; }
      .offers .row .slider img {
        width: 306.4px;
        height: 210px; }
      .offers .row .slider p.name {
        line-height: 32px;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.2px;
        text-align: left;
        color: #161616;
        margin: 19px 0 7px; }
      .offers .row .slider p.desc {
        font-size: 14px;
        line-height: 1.07;
        text-align: left;
        color: #a8a8a8; }

.info-boxes {
  padding: 72px 0 108px; }
  @media screen and (max-width: 992px) {
    .info-boxes {
      padding-bottom: 33px; } }
  .info-boxes .top-text-left {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.38;
    text-align: left;
    color: #2d2a2a;
    margin-bottom: 70px; }
    @media screen and (max-width: 992px) {
      .info-boxes .top-text-left {
        margin-bottom: 20px; } }
  .info-boxes .top-text-right {
    padding-top: 7px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.29;
    text-align: left;
    color: #797979; }
    @media screen and (max-width: 992px) {
      .info-boxes .top-text-right {
        margin-bottom: 48px; } }
  .info-boxes .info-box {
    border-top: solid 1px #dddddd;
    border-right: solid 1px #dddddd;
    border-bottom: solid 3px #f76a3a;
    border-left: solid 1px #dddddd;
    padding: 30px;
    height: calc(228px + 30px + 30px); }
    @media screen and (max-width: 992px) {
      .info-boxes .info-box {
        margin-bottom: 33px; } }
    @media screen and (min-width: 768px) and (max-width: 992px) {
      .info-boxes .info-box {
        padding: 30px 20px; } }
    @media screen and (max-width: 768px) {
      .info-boxes .info-box {
        max-width: 350px;
        width: 100%; } }
    .info-boxes .info-box .bg-img {
      margin-bottom: 33px;
      height: 54px; }
    .info-boxes .info-box .info-boxes-title {
      height: 40px;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.11;
      text-align: left;
      color: #2d2a2a;
      margin-bottom: 23px; }
    .info-boxes .info-box .info-boxes-text {
      font-size: 14px;
      font-weight: 300;
      line-height: 1.14;
      text-align: left;
      color: #797979; }

.services {
  background-color: #555963;
  background-image: url("/img/bg/photo-fon-2.png");
  background-size: cover;
  background-position: center; }
  .services .container {
    padding-top: 78px;
    padding-bottom: 45px; }
    .services .container .services-head {
      margin-bottom: 60px; }
      @media screen and (max-width: 992px) {
        .services .container .services-head {
          margin-bottom: 27px; } }
      .services .container .services-head .services-head-left {
        font-size: 24px;
        font-weight: 600;
        line-height: 1.38;
        text-align: left;
        color: #ffffff; }
        @media screen and (max-width: 992px) {
          .services .container .services-head .services-head-left {
            margin-bottom: 19px; } }
      .services .container .services-head .services-head-right .services-head-right-text {
        opacity: 0.5;
        font-size: 14px;
        line-height: 1.43;
        text-align: left;
        color: #ffffff; }
      .services .container .services-head .services-head-right button {
        margin-top: 25px; }
    @media screen and (min-width: 600px) and (max-width: 768px) {
      .services .container .services-box {
        width: 50%;
        float: left; } }
    .services .container .services-box .services-box-img {
      float: left;
      width: 40px;
      margin-right: 17px;
      height: 100%; }
    .services .container .services-box .services-box-text {
      float: left;
      width: calc(100% - 40px - 17px);
      margin-bottom: 42px; }
      .services .container .services-box .services-box-text .services-box-text-title {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.39;
        letter-spacing: -0.2px;
        text-align: left;
        color: #ffffff;
        margin-bottom: 9px; }
      .services .container .services-box .services-box-text .services-box-text-desc {
        opacity: 0.5;
        font-size: 14px;
        line-height: 1.21;
        text-align: left;
        color: #ffffff; }
    .services .container .services-box-bottom-button {
      max-width: 320px;
      width: 100%;
      margin: 0 auto;
      display: block; }

.info-box-bg {
  overflow: hidden;
  background-color: #555963;
  height: 440px;
  background: url("/img/bg-images/photo-fon-1.png") no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 5;
  margin: 0 auto; }
  @media screen and (max-width: 768px) {
    .info-box-bg {
      height: auto; } }
  .info-box-bg .row {
    padding: 98px 0 99px; }
    @media screen and (max-width: 768px) {
      .info-box-bg .row {
        padding: 60px 0 80px; } }
    .info-box-bg .row .info-box-bg-text {
      font-size: 32px;
      font-weight: 300;
      line-height: 1.25;
      text-align: left;
      color: #ffffff;
      margin-bottom: 43px; }
      @media screen and (max-width: 768px) {
        .info-box-bg .row .info-box-bg-text {
          font-size: 32px;
          font-weight: 300;
          line-height: 1.25;
          text-align: left;
          color: #ffffff;
          margin-bottom: 32px; } }

.offers-grid-block {
  padding: 54px 0 25px; }
  @media screen and (max-width: 992px) {
    .offers-grid-block {
      padding-bottom: 0; } }
  .offers-grid-block .row .offers-grid-block-left-text {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.38;
    text-align: left;
    color: #2d2a2a;
    margin-bottom: 58px; }
    @media screen and (max-width: 992px) {
      .offers-grid-block .row .offers-grid-block-left-text {
        margin-bottom: 23px; } }
    @media screen and (max-width: 650px) {
      .offers-grid-block .row .offers-grid-block-left-text {
        width: 100%; } }
  .offers-grid-block .row .offers-grid-block-right-text {
    padding-top: 7px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.29;
    text-align: left;
    color: #797979; }
    @media screen and (max-width: 992px) {
      .offers-grid-block .row .offers-grid-block-right-text {
        margin-bottom: 31px; } }
    @media screen and (max-width: 650px) {
      .offers-grid-block .row .offers-grid-block-right-text {
        width: 100%; } }
  .offers-grid-block .offers-grid-block-tile {
    margin-bottom: 74px; }
    @media screen and (max-width: 515px) {
      .offers-grid-block .offers-grid-block-tile {
        max-width: 400px;
        width: 100%;
        margin-bottom: 26px; } }
    @media screen and (min-width: 992px) {
      .offers-grid-block .offers-grid-block-tile:nth-child(3n+1) {
        padding-right: 50px; }
      .offers-grid-block .offers-grid-block-tile:nth-child(3n+2) {
        padding-right: 25px;
        padding-left: 25px; }
      .offers-grid-block .offers-grid-block-tile:nth-child(3n+3) {
        padding-left: 50px; } }
    .offers-grid-block .offers-grid-block-tile .offers-grid-block-grid-bg {
      border: 1px solid #555963;
      display: block;
      width: 100%;
      height: auto;
      margin-bottom: 15px; }
    .offers-grid-block .offers-grid-block-tile .offers-grid-block-grid-name {
      font-size: 18px;
      font-weight: 600;
      line-height: 1.39;
      letter-spacing: -0.2px;
      text-align: left;
      width: 100%;
      display: block;
      padding-bottom: 13px; }
      .offers-grid-block .offers-grid-block-tile .offers-grid-block-grid-name a {
        color: #161616; }
      .offers-grid-block .offers-grid-block-tile .offers-grid-block-grid-name .price {
        color: #f76a3a; }
    .offers-grid-block .offers-grid-block-tile .offers-grid-block-grid-desc {
      font-size: 16px;
      font-weight: 300;
      line-height: 1.25;
      text-align: left;
      color: #a8a8a8; }
  .offers-grid-block .offer-grid-more-button {
    display: block;
    margin: 14px auto 81px;
    max-width: 300px;
    width: 100%; }
    @media screen and (min-width: 515px) and (max-width: 992px) {
      .offers-grid-block .offer-grid-more-button {
        margin: -32px auto 50px; } }

.texts .texts-title {
  margin-top: 26px;
  font-size: 24px;
  font-weight: 600;
  line-height: 2.08;
  text-align: left;
  color: #2d2a2a; }
.texts ul.nav-tabs {
  border-bottom: none;
  padding-top: 0; }
  .texts ul.nav-tabs li {
    border-bottom: 1px #e3e3e3 solid;
    padding-right: 45px; }
    .texts ul.nav-tabs li:last-child {
      padding-right: 0; }
    .texts ul.nav-tabs li.active {
      border-bottom: 2px #f76a3a solid; }
      .texts ul.nav-tabs li.active a {
        position: relative;
        top: 1px;
        background: transparent;
        color: #555963;
        border-left: 0;
        border-top: 0;
        border-right: 0;
        border-bottom: 1px #f76a3a solid; }
    .texts ul.nav-tabs li:hover:not(.active), .texts ul.nav-tabs li:focus:not(.active), .texts ul.nav-tabs li:active:not(.active) {
      border-bottom: 1px #e3e3e3 solid; }
      .texts ul.nav-tabs li:hover:not(.active) a, .texts ul.nav-tabs li:focus:not(.active) a, .texts ul.nav-tabs li:active:not(.active) a {
        position: relative;
        top: 1px;
        background: transparent;
        color: #555963;
        border-left: 0;
        border-top: 0;
        border-right: 0;
        border-bottom: 2px #f76a3a solid; }
    .texts ul.nav-tabs li a {
      margin: 0;
      padding: 0;
      border-left: 0;
      border-right: 0;
      line-height: 29px;
      font-size: 12px;
      text-transform: uppercase;
      color: #e3e3e3; }
.texts .address-map {
  margin-top: 40px;
  margin-bottom: 40px; }
  .texts .address-map #map {
    height: 300px;
    padding: 0 15px; }
  .texts .address-map .address-map-title {
    margin: 23px 0 1px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.39;
    text-align: left;
    color: #161616; }
  .texts .address-map .address-map-text {
    font-size: 16px;
    line-height: 1.56;
    text-align: left;
    color: #797979; }

/*# sourceMappingURL=homepage.css.map */
