@font-face {
  font-family: '.SNFS';
  src: url('/fonts/SF-UI-Display-Regular.otf') format('truetype');
}
@font-face {
  font-family: '.SNFS-Medium';
  src: url('/fonts/SF-UI-Display-Medium.otf') format('truetype');
}
$gray:#555963;
$gray-light:#e3e3e3;
$white:#ffffff;
$orange:#f76a3a;

$screen-sm:768px;

body {
  padding-top: 70px;
  padding-bottom: 0;
  font-family: '.SNFS', Fallback, sans-serif;
}
* {
  font-family: '.SNFS', Fallback, sans-serif;
}

button {
  outline: none!important;
}

.transparent-button {
  height: 50px;
  width: 100%;
  margin: 0 auto;
  background: transparent;
  border: 1px #d2d2d2 solid;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 50px;
  color: #797979;
  display: block;
  .orange {
    color: #f76a3a;
  }
}

.orange-button {
  width: 173px;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: #f76a3a;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
  padding: 0 16px;
  border: none;
  text-transform: uppercase;
}

.grey-light-block  {
  background-color: #f3f4f5;
}

.content-holder {
  margin-top: -70px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 2.08;
  letter-spacing: -0.3px;
  text-align: left;
  color: #2d2a2a;
  padding-bottom: 15px;

  @media (max-width: $screen-sm) {
    padding-bottom: 0;
    line-height: 1;
  }
}

label {
  font-size: 14px;
  line-height: 1.79;
  text-align: left;
  color: #797979;
  margin-bottom: 3px;
}

input[type="text"], textarea {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  border-radius: 4px;
  border: solid 1px #e3e3e3;
  font-size: 16px;
  text-align: left;
  color: #2d2a2a;
}

textarea {
  height: 80px;
  overflow: hidden;
}

