$gray:#555963;
$gray-light:#e3e3e3;
$white:#ffffff;
$orange:#f76a3a;

$screen-sm:768px;

.offers {
  background-color: $gray-light;
  .row {
    overflow: hidden;
    white-space: nowrap;
    padding: 61px 0 98px;
    .title {
      width: 278px;
      height: 50px;
      font-size: 24px;
      font-weight: 600;
      line-height: 2.08;
      letter-spacing: -0.3px;
      text-align: left;
      color: #2d2a2a;
    }
    .slider {
      margin-right: -15px;
      .item {
        display: inline-block;
        float: left;
        width: 306.4px;
      }
        img {
          width: 306.4px;
          height: 210px;
        }
        p.name {
          line-height: 32px;
          font-size: 18px;
          font-weight: 600;
          letter-spacing: -0.2px;
          text-align: left;
          color: #161616;
          margin: 19px 0 7px;
        }
        p.desc {
          font-size: 14px;
          line-height: 1.07;
          text-align: left;
          color: #a8a8a8;
        }
      }
    }
  }

.info-boxes {
  padding: 72px 0 108px;
  .top-text-left {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.38;
    text-align: left;
    color: #2d2a2a;
    margin-bottom: 70px;
  }
  .top-text-right {
    padding-top: 7px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.29;
    text-align: left;
    color: #797979;
  }
  .info-box {
    border-top: solid 1px #dddddd;
    border-right:solid 1px #dddddd;
    border-bottom:solid 3px #f76a3a;
    border-left:solid 1px #dddddd;
    padding: 30px;
    height: calc(228px + 30px + 30px);
    .bg-img {
      margin-bottom: 33px;
      height: 54px;
    }
    .info-boxes-title {
      height: 40px;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.11;
      text-align: left;
      color: #2d2a2a;
      margin-bottom: 23px;
    }
    .info-boxes-text {
      font-size: 14px;
      font-weight: 300;
      line-height: 1.14;
      text-align: left;
      color: #797979;
    }
  }
}
.services {
  background-color: $gray;
  .container {
    padding-top: 78px;
    padding-bottom: 101px;
    .services-head {
      margin-bottom: 60px;
      .services-head-left {
        font-size: 24px;
        font-weight: 600;
        line-height: 1.38;
        text-align: left;
        color: #ffffff;
      }
      .services-head-right {
        .services-head-right-text {
          opacity: 0.5;
          font-size: 14px;
          line-height: 1.43;
          text-align: left;
          color: #ffffff;
        }
        button {
          margin-top: 25px;
        }
      }
    }
    .services-box {
      .services-box-img {
        float: left;
        width: 40px;
        margin-right: 17px;
        height: 100%;
      }
      .services-box-text {
        float: left;
        width: calc(100% - 40px - 17px);
        margin-bottom: 42px;
        .services-box-text-title {
          font-size: 18px;
          font-weight: 600;
          line-height: 1.39;
          letter-spacing: -0.2px;
          text-align: left;
          color: #ffffff;
          margin-bottom: 9px;
        }
        .services-box-text-desc {
          opacity: 0.5;
          font-size: 14px;
          line-height: 1.21;
          text-align: left;
          color: #ffffff;
        }
      }
    }
  }
}

.info-box-bg {
  background-color: $gray;
  overflow-x: hidden;
  height: 440px;
  .info-box-bg-image {
    width: 1280px;
    z-index: 5;
    height: 440px;
    background: url("/img/bg-images/photo-fon-1.png") no-repeat;
    margin: 0 auto;
    .row {
      padding: 98px 0 99px;
      .info-box-bg-text {
        font-size: 32px;
        font-weight: 300;
        line-height: 1.25;
        text-align: left;
        color: #ffffff;
        margin-bottom: 43px;
      }
      .info-box-bg-button {

      }
    }
  }
}

.collections {
  padding-top: 86px;
  padding-bottom: 89px;
  .collections-text {
    .collections-text-title {
      font-size: 24px;
      font-weight: 600;
      line-height: 2.08;
      text-align: left;
      color: #2d2a2a;
      padding-bottom: 2px;
    }
    .collections-text-desc {
      font-size: 14px;
      font-weight: 300;
      line-height: 1.29;
      text-align: left;
      color: #797979;
      padding-bottom: 54px;
    }
    .collections-text-button {
    }
  }
  .collection {
    height: 230px;
    .collection-name {
      font-size: 18px;
      font-weight: 600;
      line-height: 1.39;
      letter-spacing: -0.2px;
      text-align: left;
      color: #ffffff;
      margin: 172px 0 0 5px;
    }
    .collection-link {
      opacity: 0.5;
      font-size: 14px;
      line-height: 1.21;
      text-align: left;
      color: #ffffff;
      margin: 0 0 0 5px;
    }
  }
  .collection-1 {
    background: url("/img/bg-collections/photo-2.png") no-repeat;
    width: 100%;
    margin-bottom: 20px;
  }
  .collection-2 {
    background: url("/img/bg-collections/photo-3.png") no-repeat;
  }
  .collection-3 {
    background: url("/img/bg-collections/photo-4.png") no-repeat;
  }
}

.offers-grid-block {
  padding: 54px 0 98px;
  .row {
    .offers-grid-block-left-text {
      font-size: 24px;
      font-weight: 600;
      line-height: 1.38;
      text-align: left;
      color: #2d2a2a;
      margin-bottom: 58px;
    }
    .offers-grid-block-right-text {
      padding-top: 7px;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.29;
      text-align: left;
      color: #797979;
    }
  }
}

.offers-grid-block-tile {
  margin-bottom: 24px;
  .offers-grid-block-grid-bg {
    border: 1px solid $gray;
    img {
      height: 287px;
    }
    margin-bottom: 15px;
  }
  .offers-grid-block-grid-name {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.39;
    letter-spacing: -0.2px;
    text-align: left;
    color: #161616;
    .price {
      color: #f76a3a;
    }
    padding-bottom: 13px;
  }
  .offers-grid-block-grid-desc {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.25;
    text-align: left;
    color: #a8a8a8;
  }
}
