
div#view-selector-container {
  .ViewSelector2-item {
    display: inline-block;
    width: 30%;
  }
}

// ------------------------ //
// ------ DROPZONE -------- //
// ------------------------ //
.row.dropzone {
  min-height: 703px;
  .view-first {
    img {
      width: 100%;
      display: block;
      background-position: center;
      background-size: cover;
    }
  }
}


// ------------------------- //
// ------ DATATABLES ------- //
// ------------------------- //
div.dataTables_wrapper {

  div.row {

    div.dataTables_processing {
      height: auto;
      left: auto;
      margin: 0;
      position: relative;
      top: auto;
    }
  }
}

table.datatable {

  > tbody {

    > tr[role="row"] {

      > td {
        vertical-align: middle;

        .thumbnail {
          margin-bottom: 0;

          img {
            background-position: center;
            background-size: cover;
          }

        }

        .description {

          h4 {
            > span.small {
              padding-left: 10px;
            }
          }

        }

        .truncated {
          -webkit-box-orient: vertical;
          display: block;
          display: -webkit-box;
          height: 40px;
          -webkit-line-clamp: 2;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      td:first-child {
        cursor: move;
      }
    }
  }
}

.v-options {

  label {
    font-size: .7em;

    .icheckbox_flat-green {
      margin-right: 2px;
    }
  }
}
